<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>

  <!-- jSpreadsheet 4.x -->
  <script src="/static/js/jsuites.js"></script>
  <link rel="stylesheet" href="/static/css/jsuites.css" type="text/css" />
  <script src="/static/js/jexcel.js"></script>
  <link rel="stylesheet" href="/static/css/jexcel.css" type="text/css" />  

  <!-- Load c3.css -->
  <link href="/static/css/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="/static/js/d3.v5.min.js" charset="utf-8"></script>
  <script src="/static/js/c3.min.js"></script>  

  <script src="/static/js/numeral.min.js"></script>


  <script>
    global = globalThis
  </script>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <script>
      require('module').globalPaths.push(
        `<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>`
      )
    </script>
    <% } %>
  </head>

<body>
  <div id="app"></div>

  <!-- Set `__static` path to static files in production -->
  <script>
    try {
      if (process.env.NODE_ENV !== 'development')
        window.__static = require('path')
          .join(__dirname, '/static')
          .replace(/\\/g, '\\\\')
    } catch { }
  </script>

  <!-- webpack builds are automatically injected -->
</body>

</html>
